<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap uap3">

	<Identity
	  Name="2576ab98-8359-4133-a5f1-95f9d86f671e"
	  Publisher="CN=RoguePlanetoid"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="2576ab98-8359-4133-a5f1-95f9d86f671e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Widgets Demo</DisplayName>
		<PublisherDisplayName>RoguePlanetoid</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Widgets Demo"
			  Description="Widgets Demo"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="Widgets.Demo.Desktop.exe" Arguments="-headless" DisplayName="Tasks">
							<com:Class Id="2576ab98-8359-4133-a5f1-95f9d86f671e" DisplayName="Tasks" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="com.microsoft.windows.widgets"
						Id="Widgets.Demo.Desktop"
						DisplayName="Widgets Demo"
						PublicFolder="Public">
						<uap3:Properties>
							<WidgetProvider>
								<ProviderIcons>
									<Icon Path="Assets\StoreLogo.png" />
								</ProviderIcons>
								<Activation>
									<!-- Apps exports COM interface which implements IWidgetProvider -->
									<CreateInstance ClassId="2576ab98-8359-4133-a5f1-95f9d86f671e" />
								</Activation>
								<Definitions>
									<Definition Id="CustomWidget"
										DisplayName="Custom"
										Description="Custom Widget">
										<Capabilities>
											<Capability>
												<Size Name="small" />
											</Capability>
											<Capability>
												<Size Name="medium" />
											</Capability>
											<Capability>
												<Size Name="large" />
											</Capability>
										</Capabilities>
										<ThemeResources>
											<Icons>
												<Icon Path="Assets\Custom_Icon.png" />
											</Icons>
											<Screenshots>
												<Screenshot Path="Assets\Custom_Screenshot.png" DisplayAltText="For accessibility" />
											</Screenshots>
											<!-- DarkMode and LightMode are optional -->
											<DarkMode />
											<LightMode />
										</ThemeResources>
									</Definition>
									<Definition Id="CountsWidget"
										DisplayName="Counts"
										Description="Counts Widget"
										IsCustomizable="true">
										<Capabilities>
											<Capability>
												<Size Name="small" />
											</Capability>
											<Capability>
												<Size Name="medium" />
											</Capability>
											<Capability>
												<Size Name="large" />
											</Capability>
										</Capabilities>
										<ThemeResources>
											<Icons>
												<Icon Path="Assets\Counts_Icon.png" />
											</Icons>
											<Screenshots>
												<Screenshot Path="Assets\Counts_Screenshot.png" DisplayAltText="For accessibility" />
											</Screenshots>
											<!-- DarkMode and LightMode are optional -->
											<DarkMode />
											<LightMode />
										</ThemeResources>
									</Definition>
									<Definition Id="PromptWidget"
										DisplayName="Prompt"
										Description="Prompt Widget">
										<Capabilities>
											<Capability>
												<Size Name="medium" />
											</Capability>
											<Capability>
												<Size Name="large" />
											</Capability>
										</Capabilities>
										<ThemeResources>
											<Icons>
												<Icon Path="Assets\Prompt_Icon.png" />
											</Icons>
											<Screenshots>
												<Screenshot Path="Assets\Prompt_Screenshot.png" DisplayAltText="For accessibility" />
											</Screenshots>
											<!-- DarkMode and LightMode are optional -->
											<DarkMode />
											<LightMode />
										</ThemeResources>
									</Definition>
								</Definitions>
							</WidgetProvider>
						</uap3:Properties>
					</uap3:AppExtension>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>